<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2 style="text-align: center">Nouveau Post</h2>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="title">Le titre de votre post</label>
        <input type="text" class="form-control" id="title" name="title" ngModel required>
      </div>
      <div class="form-group">
        <label for="content">Le contenu de post</label>
        <textarea id="content" cols="33" rows="5" class="form-control" name="content" ngModel required></textarea>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enregistrer</button>
    </form>
  </div>
</div>
