<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="container">
<div style="text-align:center; background-color: red">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div><br>
<router-outlet></router-outlet>
</div>
