<li [ngClass]="{
                'list-group-item':true,
                'list-group-item-success': postLikes > 0,
                'list-group-item-danger': postLikes < 0
                }">
  <div class="row">
    <h4 class="col-md-8">{{ postTitle }}</h4>
    <p>posté le : {{ postCreate | date: 'MMM d, y, h:mm:ss a' }}</p>

      <div class="col-md-12">
        <p>{{ postContent }}</p>
      </div>

      <div class="col-md-1">
        <button class="btn btn-success" (click)="onSetLikes()">Love It</button>
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger" (click)="onSetDislikes()">Don't Like It</button>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary" (click)="onAnnulLike()">Le nombre de LoveIts: {{ postLikes }} => r à z ?</button>
      </div>
    <div class="col-md-4">
      <button class="btn btn-danger" (click)="onRemovePost()">Supprimer POST</button>
    </div>
  </div>
</li>
