<h2 style="text-align: center">Posts</h2>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <app-post-list-item *ngFor="let post of posts; let i = index"
                          [postTitle]="post.title"
                          [postContent]="post.content"
                          [postLikes]="post.loveIts"
                          [postCreate]="post.created"
                          [index]="i">
      </app-post-list-item>
    </ul>
  </div>
</div>
